.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.notfound h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #333;
}

.notfound h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}
.notfound button {
  float: right;
  display: flex;
}
